# Ignore everything
*

# Whitelist dotfiles
!.gitignore
!.zshenv
!.zshrc
!.profile
!.shell/
!.shell/**
!.tmux.conf
!.tmux/
!.tmux/**
!.gitconfig
!.config/
!.config/alacritty/
!.config/alacritty/alacritty.toml
!.config/nvim/
!.config/nvim/**
!.github/
!.github/**
!.dotscripts/
!.dotscripts/**
